.App {
  text-align: center;
  margin-top: 40px;
 
  
}

.title-reg{
  font-size: 36px;
  color: rgb(79, 70, 136);
}
.title-log{
  font-size: 36px;
  color: rgb(79, 70, 136);
}
.reg{
  align-items: center;
}

.container-nav{
  padding-bottom: 60px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  align-items: center;
  
}
.navbar ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
 
  
}
.forma{
  
  display: flex; 
   justify-content: center;
  
}
.ant-form{
  background-color: #E2D4CB;
 padding: 60px;

}
.addprod, .category{
display: flex;
justify-content: center;


}